.stat-row .bug, .stat-row progress.bug::-webkit-progress-value { background-color: #92bc2c}

.stat-row .dark, .stat-row progress.dark::-webkit-progress-value  {  background-color: #595761;}

.stat-row .dragon, .stat-row progress.dragon::-webkit-progress-value  {  background-color: #0c69c8;}
  
.stat-row .electric, .stat-row progress.electric::-webkit-progress-value  {  background-color: #f2d94e;}
  
.stat-row .fire, .stat-row progress.fire::-webkit-progress-value {  background-color: #fba54c;}
  
.stat-row .fairy, .stat-row progress.fairy::-webkit-progress-value  {  background-color: #ee90e6;}
  
.stat-row .fighting, .stat-row progress.fighting::-webkit-progress-value  {  background-color: #d3425f;}
  
.stat-row .flying, .stat-row progress.flying::-webkit-progress-value  {  background-color: #a1bbec;}
  
.stat-row .ghost, .stat-row progress.ghost::-webkit-progress-value  {  background-color: #5f6dbc;}
  
.stat-row .grass, .stat-row progress.grass::-webkit-progress-value  {  background-color: #5fbd58;}.
  
.stat-row .ground, .stat-row progress.ground::-webkit-progress-value  {  background-color: #da7c4d;}
  
.stat-row .ice, .stat-row progress.ice::-webkit-progress-value  {  background-color: #75d0c1;}
  
.stat-row .normal, .stat-row progress.normal::-webkit-progress-value {  background-color: #a0a29f;}
  
.stat-row .poison, .stat-row progress.poison::-webkit-progress-value {  background-color: #b763cf;}
  
.stat-row .psychic, .stat-row progress.psychic::-webkit-progress-value  {  background-color: #fa8581;}
  
.stat-row .rock, .stat-row progress.rock::-webkit-progress-value {  background-color: #c9bb8a;}
  
.stat-row .steel, .stat-row progress.steel::-webkit-progress-value {  background-color: #5695a3;}
  
.stat-row .water, .stat-row progress.water::-webkit-progress-value {  background-color: #539ddf;}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin:0;
  padding:0;
}

body{
  display:flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 54%, rgba(23,23,121,1) 83%); 
}

.container-header img{
  display: flex;
  justify-content: center;
  height:160px;
  padding-right:50px
}

.nav-menu{
  display: flex;
  gap:20px
}

.nav-item {
  font-weight: 600;
  color: #fff;
  display: flex;
  margin-top: 55px;
}

.top-bar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background: rgb(217,217,217);
  background: linear-gradient(124deg, rgba(217,217,217,1) 61%, rgba(50,50,149,1) 61%);  
}

.top-bar h2{
  font-weight: 600;
  color: #2F3133;
  font-size:25px;
  padding-left:40px;
  margin-top:30px;  
  margin-bottom:50px;
}

.favorite-container{
  display:flex;
  align-items:center;
  gap:5px;
}

.btn-favorite{
  width:29px;
  all:unset;
  cursor: pointer; 
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 25px;
  margin:-20px;
}

.btn-favorite:active {
  transform: translateY(5px);
}

.icon-favorite{
  width:25px;
}

.search{
  display:flex;
  padding-right:100px;
}

.search input{
 width:200px;
 height:30px;
}

.search button{
  width:30px;
  height:30px;
}

.search img{
  background-color: rgba(158, 185, 225, 0.1);
  width:30px;
}

.pokemon-container{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(3, 1fr);
  margin:15px;
  padding:10px;
}

.pokemon{
  padding-bottom:30px;
}

.img-container img{
  width:100px;
}

.card{
 display:flex;
 box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 background-color: #757579;
 border-top-left-radius: 73px;
 border-bottom-left-radius: 34px;
 border-top-right-radius: 33px;
 border-bottom-right-radius: 70px;
 color: #fff;
}
.card-favoritos{
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #757579;
  border-top-left-radius: 73px;
  border-bottom-left-radius: 34px;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 70px;
  color: #fff;
}

.info{
  display: flex;
}

.text-info{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-top:10px;
}

.btn-info{
  display:flex;
  padding: 30px 0 0 130px;
}

.btn-detalhar{
  width:55px;
  height:20px

}

.btn-favorite-card{
  width:55px;
  height:20px
}
.btn-info-favoritos{
  display:flex;
  padding: 30px 0 0 90px;
  gap:10px;
}
.btn-unfavorite-card{
  width: 83px;
  height: 20px;
  margin-right: 9px;
}

.card:hover{
  background: rgb(217,217,217);
  background: linear-gradient(124deg, rgba(217,217,217,1) 57%, rgba(50,50,149,1) 57%);  
  transform: scale(1.06);
  color:black;
}
.card-favoritos:hover{
  background: rgb(217,217,217);
  background: linear-gradient(124deg, rgba(217,217,217,1) 47%, rgba(50,50,149,1) 47%);  
  transform: scale(1.06);
  color:black;
}

.pokemon-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal{
  background-color: rgba(211,211,211,0.9794511554621849);
  margin: 15% auto; 
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 700px; 
  height:400px;
  opacity:0.9;

  display: flex;
  flex-direction: column;
}

.modal-header{
  display: flex;
  justify-content:space-around;;

  margin:5px;
  padding:10px;

  font-size: 45px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
 
}

.modal-Content {
  margin: 35px ;
  padding: 15px;
  display: flex;
  align-items:center;
  font-family: "Lucida Console", "Courier New", monospace;

}

.modal .stats-left{
  display: flex;
  flex-direction:column;
  gap:25px;
  padding-left:50px;
}

.modal-img {
  margin-left: 44px;
  width:30%;

}

.modal .stats-right{
  display:flex;
  flex-direction:column;
  margin-left:auto;
  padding-right: 34px;
  gap:20px;
}

.modal .stat{
  font-size:20px;
  font-weight:600;
  margin: 5px
}

.stat-desc {
  background: #1eb800;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  font-size:15px;
  font-weight:bold;
}

progress {
  border: 2px solid black;
  height: 15px;
}

progress::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

@media (max-width: 1358px) {
  .card{
    width:360px;
  }
  .btn-info{
    padding: 30px 0 0 45px;
  }
}
@media (max-width: 1343px){
  .pokemon-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:25px;
    margin:40px;
    padding:25px;
  }
  .card-favoritos{
    width:450px;
  }
}
@media (max-width: 1148px) {
  .card{
    width:320px;
  }
  .btn-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap:5px;
  }
  .card-favoritos{
    width:360px;
    
  }
  .btn-info-favoritos{
    padding: 19px 0 0 11px;
  }

}
@media (max-width:1024px){
  .pokemon-container{
    display: grid;
    gap:50px;
    grid-template-columns: repeat(2, 1fr);
    margin:15px;
    padding:10px;
  }
  .card{
    width:415px;
  }
  .btn-info{
    display:flex;
    flex-direction:row;
    padding: 30px 0 0 80px;
  }
  .card-favoritos{
    width:415px;
    
  }
  .btn-info-favoritos{
    display:flex;
    flex-direction:row;
    padding: 30px 0 0 52px;
  }

}

@media (max-width:903px){
  .card{
    width:320px;
  }
  .btn-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap:5px;
    padding: 19px 0 0 48px;

  }
  .card-favoritos{
    width:360px;
    
  }
  .btn-info-favoritos{
    padding: 19px 0 0 11px;
  }
}
@media (max-width: 778px){
  .nav-menu{
    display: flex;
    flex-direction: column;
  }
  .nav-item{
    display: flex;
    margin-top: 25px;
    padding: 13px 27px 0px 0px;
  }
  .card{
    width:286px;
  }
  .img-container img{
    width:75px;
  }
  .btn-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap:5px;
    padding: 19px 0 0 48px;

  }
  .card-favoritos{
    width:339px;
    
  }
  .btn-info-favoritos{
    padding: 19px 0 0 11px;
  }
}
@media(max-width:735px){ 

  .container-header{
    justify-content: normal;
    gap:35px;
  }
  .container-header img {
    height:85px;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
  }

  .top-bar h2 {
    font-size: 20px;
    padding-left: 11px;
  }
  .search{
    padding-right: 80px;
  }
  .pokemon-container{
    gap: 40px;
    margin: 15px;
    padding: 10px;
  }

}
@media (max-width:706px){
  .card-favoritos{
    width: 278px;
  }
  .btn-info-favoritos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap: 5px;
    padding: 19px 0 0 10px;
  }
}
@media (max-width: 695px){
  body{
    width:100vh
  }
  .favorite-container{
    padding-right: 70px;
  }
}
@media (max-width:425px){
  .pokemon-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:25px;
    margin:40px;
    padding:25px;
    padding-left: 130px;
  }
  .card{
    width:440px;
  }
  .card-favoritos{
    width:440px;
  }

  .img-container img{
    width:115px;
  }
  .btn-info{
    flex-direction: row;
    padding: 40px 0 0 79px;
  }
  .btn-info-favoritos{
    flex-direction:row;
    padding: 43px 0 0 60px;
  }
}