* {
  box-sizing: border-box;
  text-decoration: none;
  margin:0;
  padding:0;
}

body{
  display:flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 54%, rgba(23,23,121,1) 83%); 
}

.container-header img{
  display: flex;
  justify-content: center;
  height:160px;
  padding-right:50px
}

.nav-menu{
  display: flex;
  gap:20px
}

.nav-item {
  font-weight: 600;
  color: #fff;
  display: flex;
  margin-top: 55px;
}

.top-bar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background: rgb(217,217,217);
  background: linear-gradient(124deg, rgba(217,217,217,1) 61%, rgba(50,50,149,1) 61%);  
}

.top-bar h2{
  font-weight: 600;
  color: #2F3133;
  font-size:25px;
  padding-left:40px;
  margin-top:30px;  
  margin-bottom:50px;
}

.favorite-container{
  display:flex;
  align-items:center;
  gap:5px;
}

.btn-favorite{
  width:29px;
  all:unset;
  cursor: pointer; 
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 25px;
  margin:-20px;
}

.btn-favorite:active {
  transform: translateY(5px);
}

.icon-favorite{
  width:25px;
}

.search{
  display:flex;
  padding-right:100px;
}

.search input{
 width:200px;
 height:30px;
}

.search button{
  width:30px;
  height:30px;
}

.search img{
  background-color: rgba(158, 185, 225, 0.1);
  width:30px;
}

.pokemon-container{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(3, 1fr);
  margin:15px;
  padding:10px;
}

.pokemon{
  padding-bottom:30px;
}

.img-container img{
  width:100px;
}

.card{
 display:flex;
 box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 background-color: #757579;
 border-top-left-radius: 73px;
 border-bottom-left-radius: 34px;
 border-top-right-radius: 33px;
 border-bottom-right-radius: 70px;
 color: #fff;
}

.info{
  display: flex;
}

.text-info{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-top:10px;
}

.btn-info{
  display:flex;
  padding: 30px 0 0 130px;
}

.btn-detalhar{
  width:55px;
  height:20px

}

.btn-favorite-card{
  width:55px;
  height:20px
}

.card:hover{
  background: rgb(217,217,217);
  background: linear-gradient(124deg, rgba(217,217,217,1) 57%, rgba(50,50,149,1) 57%);  
  transform: scale(1.06);
  color:black;
}

/* .modal-container {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
} */

.pokemon-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal{
  background-color: rgba(211,211,211,0.9794511554621849);
  margin: 15% auto; 
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 700px; 
  height:400px;
  opacity:0.9;

  display: flex;
  flex-direction: column;
}

.modal-header{
  display: flex;
  justify-content:space-around;;
  /* gap: 30px; */

  margin:5px;
  padding:10px;

  font-size: 45px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
 
}

.modal-Content {
  margin: 35px ;
  padding: 15px;
  display: flex;
  align-items:center;
  font-family: "Lucida Console", "Courier New", monospace;

}

.modal .stats-left{
  display: flex;
  flex-direction:column;
  gap:25px;
  padding-left:50px;
}

.modal-img {
  margin-left: 44px;
  width:30%;

}

.modal .stats-right{
  display:flex;
  flex-direction:column;
  margin-left:auto;
  padding-right: 34px;
  gap:20px;
}

.modal .stat{
  font-size:20px;
  font-weight:600;
  margin: 5px
}

.stat-desc {
  background: #1eb800;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  font-size:15px;
  font-weight:bold;
}

progress {
  border: 2px solid black;
  height: 15px;
}

progress::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: #71c461
}
